/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** end reset css**/
body {
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
  background-color: #fffef8;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #b1663c;
}

#introduction {
  display: flex;
  align-items: center;
}

#introduction figure {
  flex: 1;
}

#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}

#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}

#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}

#contact {
  width: 50%;
  margin: auto;
}

#contact > * {
  text-align: center;
}

#contact h2 {
  margin-bottom: 20px;
}

#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
  margin: 2em 0 1em 0;
}

#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: #fffef8;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

/**Filters***************************************/

.ContainerFilters {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 31px 0 50px 0;
}
.ContainerFilters button {
  cursor: pointer;
  border: 1px solid rgba(29, 97, 84, 1);
  border-radius: 60px;
  background-color: #fffef8;
  font-family: Syne;
  color: rgba(29, 97, 84, 1);
  font-size: 16px;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-right: 10px;
}

.ContainerFilters button.button-active {
  background-color: rgba(29, 97, 84, 1);
  color: #fffef8;
}

/****Page de connexion*******/

#login-form {
  display: flex;
  flex-direction: column;
}

#login-form {
  width: 50%;
  margin: auto;
  padding-top: 150px;
  padding-bottom: 355px;
}

#login-form > * {
  text-align: center;
}

#login-form h2 {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

#login-form form {
  text-align: left;
  display: flex;
  flex-direction: column;
}

#login-form input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login-form label {
  margin: 2em 0 1em 0;
}

#login-form textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login-form a {
  display: flex;
  justify-content: center;
  text-decoration: underline;
}

#login-form input[type="button"] {
  cursor: pointer;
  font-family: "Syne";
  font-weight: 700;
  color: #fffef8;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

/*mode édition*/

#banner {
  display: flex;
  color: white;
  background-color: black;
  padding: 19.5px;
  padding-bottom: 20.5px;
}

#banner div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 16px;
  gap: 11.42px;
}

#portfolioedit {
  display: flex;
  justify-content: center;
  gap: 31px;
  margin-bottom: 92px;
  margin-top: 139px;
}

#portfolioedit button,
#portfolioedit button div,
#portfolioedit button div p {
  background-color: #fffef8;
  border: none;
  cursor: pointer;
  padding-bottom: 8px;
}

#groupedit div {
  display: flex;
  font-size: 16px;
  gap: 11.42px;
  gap: 15px;
}

/* **********************modal ***************************/
#modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3); /* Fond gris opaque */
}

#modal h2 {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: black;
  display: flex;
  justify-content: center;
}
#gallerymodal .fa-trash-can {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 8px;
  border-radius: 3px;
  padding: 4px;
  background-color: rgb(9, 8, 8);
  color: white;
  cursor: pointer;
}

#modal1,
#modal2 {
  display: none;
}

#modal1 {
  display: flex;
}

#gallerymodal {
  border-bottom: solid 1px rgba(179, 179, 179, 1);
  display: flex;
  flex-wrap: wrap;
  padding: 46px 0 48.3px 0;
  margin-left: 104.5px;
  margin-right: 105.19px;
  gap: 7.49px;
}
#gallerymodal article {
  position: relative;
}

#gallerymodal img {
  width: 75px;
  height: 100px;
  margin-bottom: 10px;
}

#modal1 button {
  cursor: pointer;
  font-family: "Syne";
  font-weight: 700;
  color: #fffef8;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
  margin: 38px 198px 45px 195px;
  padding-top: 9px;
  padding-bottom: 9px;
}

#modal2 {
  display: none;
}

#modal1,
#modal2 {
  background-color: white;
  border-radius: 10px;
  flex-direction: column;
  max-width: 630px;
  max-height: 670px;
}

.icons {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin: 26px 26px 0 26px;
}

.fa-image {
  font-size: 68px;
  color: #b9c5cc;
}

.picture-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 36px 105px 30px 105px;
  background-color: #e8f1f6;
  position: relative;
  height: 200px;
  overflow: hidden;
}

.picture-form img {
  max-width: 100%;
  max-height: 100%;
}

.picture-form .fa-image {
  display: flex;
  justify-content: center;
  margin: 13px 173px 6px 171px;
}

.picture-form p {
  font-size: 10px;
  display: flex;
  justify-content: center;
  font-family: "Work Sans";
  color: #444444;
  margin: 7px 0 19px 0;
}

input[type="file"] {
  display: none;
}

.imageUpload {
  display: flex;
  justify-content: center;
  border-radius: 50px;
  background: #cbd6dc;
  color: #306685;
  cursor: pointer;
  margin: 6px 124px 7px 123px;
  padding: 10px 0 10px 0;
}
.category-form {
  display: flex;
  flex-direction: column;
  border-bottom: solid #b3b3b3 1px;
  margin: 0 105px auto;
}

.title-form {
  display: flex;
  flex-direction: column;
}

.title-form label {
  font-size: 14px;
  margin: 0 0 10px 105px;
}

.title-form input {
  margin: 0px 105px 21px 105px;
  height: 51px;
  border: none;
  box-shadow: 0px 4px 14px 0px #00000017;
}

.category-form label {
  margin-bottom: 10px;
}

.category-form #category {
  height: 51px;
  background-color: #ffffff;
  margin-bottom: 47px;
  border: none;
  box-shadow: 0px 4px 14px 0px #00000017;
}

#modalform button {
  font-family: "syne";
  border: none;
  color: #ffffff;
  background-color: #a7a7a7;
  width: 237px;
  margin: 32px 198px 55px;
  padding: 10px 49px 9px 49px;
  border-radius: 60px;
}

#modalform button[type="submit"].valid {
  background-color: #1d6154;
  cursor: pointer;
}
